body{
    background-image: url('https://wallpapers.com/images/featured/s2kxfahyg30sob8q.jpg');
    object-fit: cover;
}


/* mini login ribbon */
.topMini{
    background-color: black;
    margin: -.4% -0.42% 0 -0.42%;
    text-align: right;
}

.topMini > input{
    font-family: 'Noto Sans', sans-serif;
    font-size: 13;
    background-color: black;
    color: 3C8527;
    padding-right: 2%;
    border: 0px;
}

.topMini > input:hover{
    color: white;
    cursor: pointer;
}


/* top navigation pane */
.topRibbon{
    background-color: 171615;
    margin: 0% -0.5%;
}

.topRibbon > img{
    margin-left: 43.5%;
    margin-top: 20;
}

.topRibbon > img:hover{
    cursor: pointer;
}

.leftRibbon > input{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    border: 0;
    font-size: 16;
    background-color: 171615;
    margin-left: 1%;
    margin-top: -3.5%;
}

.rightRibbon > input{
    background-color: 3C8527;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20;
    text-align: center;
    margin-left: 85%;
    margin-top: -5%;
    padding: 10px 40px;
}

.leftRibbon > input:hover{
    cursor: pointer;
    color:3C8527;
}

.rightRibbon > input:hover{
    cursor: pointer;
    background-color: 3C8527;
    text-decoration: underline;
}


/* login pane */
.loginWin{
    background-color: white;
    text-align: center;
    width: 400;
    height: 540;
    margin-left: 40%;
}

.loginWin > h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 25;
    padding-top: 4%;
    margin-bottom: -2%;
}

#microsoftLogin{
    padding: 20;
}

#mcLogInBtn{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20;
    color: white;
    background-color: 3C8527;
    width: 100%;
    padding: 10 40;
}

#mcLogInBtn:hover{
    cursor: pointer;
    background-color: gray;
}

#microSoftLogin > p{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    margin-left: 9%;
}

#mcCreateBtn{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    text-decoration: underline;
    color: 3C8527;
    font-size: 15;
    border: 0;
    margin-left: 45%;
    margin-top: -12%;
}

#mcCreateBtn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: underline;
}

#mojangLoginTitle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18;
    margin-top: -.6%;
}

#emailTitle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16;
    text-align: left;
    margin: 10 0;
    margin-left: 30;
}

#emailIn{
    text-align: left;
    width: 87%;
    height: 6%;
}

#passTitle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16;
    text-align: left;
    margin: 10 0;
    margin-left: 30;
}

#passIn{
    margin: 1 10;
    width: 87%;
    height: 6%;
}

#passForgot{
    color: 3C8527;
    font-size: 17;
    text-decoration: underline;
    border: 0;
    background-color: white;
    margin: 3% -20% 5% 20%;
}

#passForgot:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}

#loginBtn{
    font-family: 'Noto Sans', sans-serif;
    background-color:gray;
    color: white;
    font-size: 20;
    border: 0;
    width: 90%;
    padding: 10 40;
}

#loginBtn:hover{
    cursor: pointer;
    background-color: rgb(78, 78, 78);
    transition-timing-function: ease-in-out;
}



/* Follow pane */
.bottomRibbon{
    background-color: black;
    text-align: center;
    padding-bottom: 10%;
    margin: 0 -0.42%;
}

.bottomRibbon > p{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 20;
    padding-top: 1%;
}

#ytFollow{
    background-color: rgb(177, 177, 177);
    border: 0;
    border-radius: 50%;
    margin-top: .7%;
}

#inFollow{
    background-color: rgb(177, 177, 177);
    border: 0;
    border-radius: 50%;
    margin-left: 4%;
}

#fbFollow{
    background-color: rgb(177, 177, 177);
    border: 0;
    border-radius: 50%;
    margin-left: 4%;
}

#twFollow{
    background-color: rgb(177, 177, 177);
    border: 0;
    border-radius: 50%;
    margin-left: 4%;
}

#rdFollow{
    background-color: rgb(177, 177, 177);
    border: 0;
    border-radius: 50%;
    margin-left: 4%;
}

#ytFollow:hover{
    cursor: pointer;
    background-color: red;
}

#inFollow:hover{
    cursor: pointer;
    background-color: pink;
}

#fbFollow:hover{
    cursor: pointer;
    background-color: rgb(0, 153, 255);
}

#twFollow:hover{
    cursor: pointer;
    background-color: 1BB1E4;
}

#rdFollow:hover{
    cursor: pointer;
    background-color: rgb(255, 115, 0);
}